@model Project3.Models.OrderCourse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
